<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css">
		<title>Index Page</title>
	</head>
	<body>
		<h1>Shop Index Page</h1>
    <nav>
      <a href="/items/new">Add A New Item</a>
    </nav>
		<ul>
			<% items.forEach(item => { %>
      <li>
        <a href="/items/<%=item._id %>"> <img src="<%= item.img %>" alt=""> </a>

				<form action="/items/<%= item.id %>?_method=DELETE" method="POST" style="display:inline; margin-left:16px;">
					<input type="submit" value="DELETE" />
			</form>

			<a href="/items/<%=item._id %>/edit">Edit</a>
      </li>
			<% }) %>
		</ul>
	</body>
</html>
