<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
    <nav>
      <a href="/items/new">Add A New Item</a>
    </nav>
		<h1>Shop Index Page</h1>
		<ul>
			<% items.forEach(item => { %>
      <li>
        <a href="/items/<%=item._id %>"> <img src="<%= item.img %>" alt=""> </a>

				<form action="/items/<%= item.id %>?_method=DELETE" method="POST" style="display:inline; margin-left:16px;">
					<input type="submit" value="DELETE" />
			</form>

			<a href="/items/<%=item._id %>/edit">Edit</a>
      </li>
			<% }) %>
		</ul>
	</body>
</html>
