<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css">
		<title>Item List</title>
	</head>
	<body>
		<h1>New Item Page</h1>
		<form action="/items" method="POST">
			Name: <input type="text" name="name" /><br />
			Description: <input type="text" name="description" /><br />
			Image: <input type="text" name="img" /><br />
			Price: <input type="number" name="price" /><br />
			Quantity: <input type="number" name="qty" /><br />
			<input type="submit" name="" value="Add Item" />
		</form>
	</body>
	</body>
</html>